      <header>
      <div class="container">
        <div id="branding" class="col-md-9">
          <h1><span class="highlight">Lyrical</span> Music Search</h1>
        </div>
          
        <div class="col-md-3">
          <form action="/newartist" ng-submit="search()">
          <input type="text" ng-model='artist' placeholder="Enter Artist Name...">
          <button type="submit" class="btn btn-info">Search</button>
        </form>
        </div>
        
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Let Lyrical bring your favorite <br> Music Artist to Life</h1>
        <p> Search for your Favorite Music Artist and Songs</p>
      </div>
    </section>


    <section id="boxes">
      <div class="container">
      <div class="row">
        <div class="col-md-4">
        <a href="/newrelease">
          <img class="img-responsive" src="./img/radioman.jpg">
          <h3>Music Video</h3>
          
          </a>
        </div>
        <div class="col-md-4">
        <a href="/newsong">
          <img class="img-responsive" src="./img/dj.jpg">
          <h3>Top Songs</h3>
          
          </a>
        </div>
        <div class="col-md-4">
        <a href="/newartist">
          <img class="img-responsive" src="./img/guitarist.jpg">
          <h3>Top Artists</h3>
          
          </a>
        </div>
      </div>
      </div>
    </section>

    <footer>
      <p>Tim Muangkeo & Emmeline Aquino, Copyright &copy; 2017</p>
    </footer>