<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Music Search">
    <meta name="keywords" content="Lyrical Music Search">
    <meta name="author" content="">
    <title>Lyrical | Welcome</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Lyrical</span>Music Search</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="index.html">Home</a></li>
            <li><a href="about.html">Artist Info</a></li>
            <li><a href="services.html">Lists</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Let Lyrical bring your favorite Music Artist to Life</h1>
        <p> Search for your Favorite Music Artist and Songs</p>
      </div>
    </section>

    <section id="newsletter">
      <div class="container">
        <h1>Search for your Favorite Artist</h1>
        <form>
          <input type="email" placeholder="Enter Artist Name...">
          <button type="submit" class="button_1">Search</button>
        </form>
      </div>
    </section>

    <section id="boxes">
      <div class="container">
        <div class="box">
          <img src="./img/radioman.jpg">
          <h3>New Releases</h3>
          <p>Check out the new Song releases</p>
        </div>
        <div class="box">
          <img src="./img/dj.jpg">
          <h3>Top Albums of 2017</h3>
          <p>These are the top albums of 2016</p>
        </div>
        <div class="box">
          <img src="./img/guitarist.jpg">
          <h3>Top Artists of 2017</h3>
          <p>These are the top artist of 2017</p>
        </div>
      </div>
    </section>

    <footer>
      <p>Tim Muangkeo & Emmeline Aquino, Copyright &copy; 2017</p>
    </footer>
  </body>
</html>
