<h1>lyrics</h1>


    <section id="newsletter">
      <div class="container">
        <h1>Search for lyrics</h1>
      </div>
    </section>
        <form ng-submit="search()">
          <input type="text" ng-model='artist' placeholder="Enter Artist Name...">
          <input type="text" ng-model='title' placeholder="Enter song title...">
          <button type="submit" class="btn btn-info">Search</button>
        </form>

      
        <div class="container">
            <div class="col-md-12">
              <div class="col-md-4">
              <a target="__blank" href="{{test.previewUrl}}">preview
              <p>{{test.lyrics_body}}</p>
			</a>
			
              </div>
              </div>
            </div>